org: hunguit
app: aws-node-express-api-project
service: aws-node-express-api-project

frameworkVersion: '2'


provider:
  name: aws
  runtime: nodejs14.x
  lambdaHashingVersion: '20201221'
  region: ap-southeast-1
  iam:
    role:
      statements: # permissions for all of your functions can be set here
        - Effect: Allow
          Action: # Gives permission to DynamoDB tables in a specific region
            - dynamodb:DescribeTable
            - dynamodb:Query
            - dynamodb:Scan
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
          Resource: 'arn:aws:dynamodb:${self:provider.region}:*:table/Tasks'

functions:
  getAllTasks: # Tên function
    handler: handler.getAllTasks # Function để handle event
    events: # Khai báo event
      - http: # Do là API nên event sẽ thuộc dạng HTTP
          path: /tasks # đường dẫn API
          method: get # method cho phép để trigger function
  createTask:
    handler: handler.createTask
    events:
      - http:
          path: /tasks
          method: post
  getTaskById:
    handler: handler.getTaskById
    events:
      - http:
          path: /tasks/{id}
          method: get
  updateTaskById:
    handler: handler.updateTaskById
    events:
      - http:
          path: /tasks/{id}
          method: put
  deleteTaskById:
    handler: handler.deleteTaskById
    events:
      - http:
          path: /tasks/{id}
          method: delete
  graphql:
    handler: handler.graphql
    events:
      - http:
          path: /graphql
          method: post
  register:
    handler: 
      handler.register
    events:
      - http:
          path: auth/register
          method: post
  verifyEmail:
    handler: 
      handler.verifyEmail
    events:
      - http:
          path: auth/register/verify/{token}
          method: get
  login:
    handler: 
      handler.login
    events:
      - http:
          path: auth/login
          method: post
  getUserByEmail:
    handler: 
      handler.getUserByEmail
    events:
      - http:
          path: /users/{userEmail}
          method: get
          cors: true
          authorizer: authorize
  authorize:
    handler: authorizer.authorize

resources:
  Resources:
    MegaTable:
      Type: AWS::DynamoDB::Table
      Properties:
        AttributeDefinitions:
          - AttributeName: pk
            AttributeType: S
          - AttributeName: sk
            AttributeType: S
        KeySchema:
          - AttributeName: pk
            KeyType: HASH
          - AttributeName: sk
            KeyType: RANGE
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        TableName: MegaTable

plugins:
  - serverless-offline
  - serverless-dotenv-plugin
  - serverless-iam-roles-per-function
